

/* MIN */
@media only screen and (min-width: 576px) {
    .img__border {
        height: 16rem;
        width: 16rem;
    }
}
@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 992px) {
    .section__center {
        flex-direction: row-reverse;
        justify-content: space-evenly;
        padding: 0 2rem;
    }
    .img__border {
        height: 28rem;
        width: 28rem;
    }
    .btns__container a{
        font-size: 1.2rem;
        width: 12rem;
    }
}


/* Max */
@media only screen and (max-width: 768px) {
    .icon {
        height: 1.3rem;
        width: 2rem;
    }
    .icon span {
        height: 0.19rem;
    }
}
@media only screen and (max-width: 992px) {
    .icon {
        display: flex;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    nav {
        flex-direction: column;
        position: relative;
    }
    .menu {
        width: max(90%, 200px);
        height: 0;
        overflow: hidden;
        transition: 350ms linear;
    }
    .links {
        padding: 0.6rem 0.7rem 0.4rem;
        flex-direction: column;
        gap: 0.3rem;
        width: 100%;
    }
    .nav__item:hover {
        transform: translate(1.5px, 1.5px);
    }
    .icon.nic span:first-child {transform: translateX(-4px);}
    .icon.nic span:last-child {transform: translateX(-4px);}
    .icon.nic span:nth-child(2) {transform: translateX(2px);}
}


/* Keyframs */
@keyframes slideTop {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}